body{
    font-family: 'inter' , sans-serif;
}
#heading{
    margin-bottom: 0;
}
hr{
    height: 0.5px;
    background-color: gray;
    margin: 15px 0 15px;
}
#urline{
    size: 10;
    margin-top: 0;
}
input{
    border-radius: 5px;
}
button{
    border-radius: 5px;
    height: auto;
    width: auto;
    border: none;
    size: 18px;
    margin-left: 44%;
}